body {
    font-family: "Arial", sans-serif;
}

fieldset {
    border: none;
    margin-bottom: 2rem;
}

legend {
    width: 100%;
    border-bottom: 2px solid black;
    margin-bottom: 1rem;
}

p {
    font-size: 1.25rem;
    font-weight: bold;
    margin: 0;
}

input {
    border: 1px solid black;
    border-radius: 4px;
}

input.validated:invalid,
textarea.validated:invalid {
    border: 2px solid red;
}

input.validated:valid,
textarea.validated:valid {
    border: 2px solid green;
}

input:focus,
textarea:focus {
    border: 1px solid blue;
    outline: none;
}

.layout {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 10px;
}

.form {
    border: 1px solid black;
    padding: 10px;
}

.form-group-column {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.form-group-row {
    display: flex;
}

.form-row-usuario {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "username password"
        ". checkbox";
    gap: 10px;
}

.username {
    grid-area: username;
}

.password {
    grid-area: password;
}

.checkbox {
    grid-area: checkbox;
}

.form-row-personales-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.form-row-personales-2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
        "dni cuenta nacimiento"
        "texto . ."
        "aficiones aficiones aficiones";
    gap: 10px;
}

.dni {
    grid-area: dni;
}

.cuenta {
    grid-area: cuenta;
}

.nacimiento {
    grid-area: nacimiento;
}

.aficion-texto {
    grid-area: texto;
}

.aficiones {
    grid-area: aficiones;
}

.form-row-aficiones {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
        "texto . ."
        "aficion1 aficion2 aficion3"
        "aficion4 aficion5 aficion6"
        "err err .";
    gap: 10px;
}

.aficion-texto {
    grid-area: texto;
}

.aficion-1 {
    grid-area: aficion1;
}

.aficion-2 {
    grid-area: aficion2;
}

.aficion-3 {
    grid-area: aficion3;
}

.aficion-4 {
    grid-area: aficion4;
}

.aficion-5 {
    grid-area: aficion5;
}

.aficion-6 {
    grid-area: aficion6;
}

#aficionesErr {
    grid-area: err;
}

.contador {
    display: flex;
    justify-content: flex-end;
    font-size: 0.75rem;
    color: grey;
}

.error-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 1px solid black;
    padding: 10px;
    height: 75%;
}

.errorMessage {
    font-size: 0.75rem;
    color: red;
}

.errorDftMessage {
    font-weight: bold;
}